<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="{{ url_for('static', path='/css/style.css') }}" rel="stylesheet">
    <title>Recipes</title>
    {% block head %}{% endblock %}
</head>
<body>
<wrapper>
    <nav class="nav-bar">
        <div class="flex nav-container">
            <a href="/" class="nav-link-1">
                <img src="../static/images/food-icon-design-vector-png_120564.jpg">
                Рецепты
            </a>
            <a href="/recipe/add" class="nav-link-2">Добавить рецепт</a>
            {% if current_user %}
            <a href="/auth/logout" class="ml-16 text-gray-400">{{ current_user["username"] }}</a>
            {% else %}
            <a href="/auth/login" class="nav-link-3">Мой аккаунт</a>
            {% endif %}
        </div>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-container">
            <div class="col1">
                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="col2">
                                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="col3">
                                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="col4">
                                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="col5">
                                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
            <div class="col6">
                                <a href="/" class="col-content">
                    Рецепты
                </a>
                <a href="/" class="col-content">
                    Идеи
                </a>
                <a href="/" class="col-content">
                    Журнал
                </a>
                <a href="/" class="col-content">
                    Политика конфиденциальности
                </a>
            </div>
        </div>
    </footer>
</wrapper>


</body>
</html>